# Copy this file, rename it to .env, and enter your own values
JWT_TOKEN_KEY=GenerateSomeLongKeyHere_AtLeast32CharsLongToUseAuth
JWT_ISSUER=GroceryStore
JWT_AUDIENCE=GroceryStore
JWT_EXPIRATION_HOURS=6