# Copy this file, rename it to .env, and enter your own values
DB_CONNECTION_STRING=Host=postgres;Port=5432;Database=grocerydb;Username=postgres;Password=postgres
JWT_TOKEN_KEY=GenerateSomeLongKeyHere_AtLeast32CharsLongToUseAuth