# Copy this file, rename it to .env, and enter your own values
DB_CONNECTION=Host=postgres;Port=5432;Database=grocerydb;Username=postgres;Password=postgres
ASP_ENVIRONMENT=Development
FILE_PATH=logs/log-.txt
OUTPUT_TEMPLATE=[{Timestamp:HH:mm:ss} {Level:u3}] {Message:lj} <{SourceContext}>{NewLine}{Exception}
SEQ_URL=http://seq:80
JWT_TOKEN_KEY=GenerateSomeLongKeyHere_AtLeast32CharsLongToUseAuth
JWT_ISSUER=GroceryStore
JWT_AUDIENCE=GroceryStore
JWT_EXPIRATION_MINUTES=30
REFRESH_EXPIRATION_DAYS=7